.landingPokemonContainer {
  margin: 1.5rem auto;
  padding: 1rem;
  border: 1px solid burlywood;
  border-radius: 15px;
  width: 400px;
  text-align: center;
}

.landingPokemonName {
  text-transform: capitalize;
  font-size: 20px;
  font-family: sans-serif;
  margin-bottom: 0.8rem;
}
