body {
  background-color: #1c2833;
}

.landingPokemonContainer {
  margin: 1.5rem auto;
  padding: 1rem;
  border: 1px solid burlywood;
  border-radius: 15px;
  width: 400px;
  text-align: center;
  color: white;
}

.landingPokemonName,
.landingPokemonUrl {
  margin-bottom: 0.8rem;
}

.landingPokemonName {
  text-transform: capitalize;
  font-size: 20px;
  font-family: sans-serif;
}
